
html,body{
    background-color: white;
}

/* 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
 */
*{
    margin: 0px;
    padding: 0px;
    font-family: Gotham, 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tag {
}

.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}
.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
    0% {opacity:0; padding-top: 450px;}
    100% {opacity:1;padding-top: 400px;}
}
.links a{
    
}
.header{
    height: 100vh;
    background-image: url('../images/Home_denim_shadow_me.png');
    background-size: cover;
    background-repeat:none;
}
.container{
}
@keyframes fadeIn {
    0% {opacity:0; padding-top: 450px;}
    100% {opacity:1;padding-top: 400px;}
}
.header-text{
    margin-left: 60%;
    padding-top: 400px;
    margin-right: 5%;
    color: white;
}
.title-bg{
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    background: rgba(10, 20, 29, 0.5);
}
.designation{
    margin-top: -10px;
    font-size: 18px;
    font-weight: 300;
}
.desc{
    margin-top:30px;
    font-size: 14px;
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 18px;
    color:#ddd;
}
.btn-cv{
    margin-top: 15px;
    padding: 5px 10px;
    background: #7F00FF;
    background-image: linear-gradient(135deg,#7F00FF,#7F00FF,#E100FF);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
    color:white;
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sidebar{
    visibility: hidden;
    height:100vh;
    width:250px;
    position: fixed;
    top:0;
    right:0;
    background-color: #112130;
    z-index: 2;
}
nav ul li{
    list-style: none;
    margin: 35px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none ;
}
.menuIcon{
    visibility: hidden;
    top:35px;
    right:20px;
    z-index: 2;
    position: fixed;
    width:30px;
    cursor: pointer;
    border:none;
    outline: none;
    color: white;
    background: none;
}

/* About */
.about{
    padding: 100px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
}

/* .social-icons */

.social-icons{
    visibility: hidden;
    width: 50px;
    height: 100vh;
    position: fixed;
    top:50%;
    left:0;
    transform: translateY(-50%);
    z-index: 1;
    align-items: center;
    text-align: center;
    background-color: #CFB8BB;
    padding: 20% 0px;
    flex-wrap: wrap;
    box-shadow: 0px 10px 10px gray;
    font-size: 20px;
}
.social-icons a{
    text-decoration: none;
    color:#112130;
}

div{
    display: block;
}
/* Responsibilities */
.responsibilities{
    margin-top:50px;
    margin-bottom:50px;
}

.card-deck{
    text-align: center;
    margin: 0 auto;
    float: none;
}
.card-img-top{
    background-color: #000000;
    padding: 10%;
    /* border-bottom: 1px solid #000; */
}
.card-img-top-1{
    background-image: linear-gradient( 90deg,  rgba(32,38,57,1) 11.4%, #2c3e50 70.2% );
}
.card-img-top-2{
    background-image: linear-gradient(90deg,#1F1C18,#8E0E00 70%);
    
}
.card-img-top-3{
    background-image: linear-gradient(90deg, #03001e,#7303c0);
}
.card-img-top-4{
    background-image: linear-gradient( 90deg, #293100,#add100);
}
.card-header{
    background-color: #112130;
    color:white;
}
.card-body{
    color: white;
    font-weight: bold;
    display: flex;
    text-align: left;
    flex:1 1 auto;
}
.res-head{
    width: 100%;
    height: 60px;
    background-color: #112130;
    text-align: center;
    color:white;
    font-size: 20px;
    background-image: linear-gradient(90deg,#0F2027,#203A43,#2C5364);
}
.card-1{
    background-image: linear-gradient( 90deg,  rgba(32,38,57,1) 11.4%, #2c3e50 70.2% );
}
.card-2{
    background-image: linear-gradient(90deg,#1F1C18,#8E0E00 70%);
}
.card-3{
    background-image: linear-gradient(90deg, #03001e,#7303c0);
}
.card-4{
    background-image: linear-gradient( 90deg, #293100,#add100);
}

/* Skill Sets */

.perf-tool, .lang{
    height: 600px;
    background-color: #112130;
    color: white;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top:50px;
    border-radius: 5px;
    margin-bottom: 50px;
    
}
.lang{
    border-left: 1px solid rgb(255, 255, 255);
}
.gap{
    background-color: white;
}
.tools{
    font-size: 30px;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid white;
}

.progress{
    height:30px;
    width: 150px;
    margin-top:2rem;
    text-align: left;
}
.progress-bar{
    height:30px;
    color:white;
    font-size: 15px;
    padding: 0px 10px;
    text-align: left;
}
.splunk{
    width:95%;
    background-color: #009FFC;
}
.AppDynamics{
    width:90%;
    background-color: #009FFC;
}
.JVisualVM{
    width:90%;
    background-color: #009FFC;
}
.JConsole{
    width:80%;
    background-color: #009FFC;
}
.Dynatrace{
    width:60%;
    background-color: #009FFC;
}
.mat{
    width:95%;
    background-color:#7850AB;
    background-color:#0DA909;
}
.tda{
    width:85%;background-color:#7850AB;
    background-color:#0DA909;
}
.gcmv{
    width:95%;background-color:#7850AB;
    background-color:#0DA909;
}
.JMeter{
    width:85%;background-color:#F49729;
}
.rpt{
    width:60%;background-color:#F49729;
}
.SVN{
    width:80%;
    background-color:#EE2D4D;
}
.PuTTY{
    width:95%;
    background-color:#EE2D4D;
}
.WinSCP{
    width:95%;
    background-color:#EE2D4D;
}
.Eclipse{
    width:95%;
    background-color:#EE2D4D;
}
.TeamTrack{
    width:80%;
    background-color:#EE2D4D;
}
.Grafana{
    width:75%;
    background-color: #009FFC;
}
.Java{
    width:85%;
    background-color: #005194;
}
.J2EE{
    width:90%;
    background-color: #005194;
}
.Shell{
    width:75%;
    background-color: #00B5C0;
}
.SQL{
    width:60%;background-color:#3A7877;
    background-color: #00B5C0;
}
.SOAP{
    width:85%;
    background-color: #005194;
}
.REST{
    width:85%;
    background-color: #005194;
}
.html{
    width:95%;background-color:#F06B8C;
}
.AJAX{
    width:60%;background-color:#7850AB;
    background-color:#F06B8C;
}
.MVC{
    width:80%;
    background-color: #005194;
}
.CSS{
    width:80%;background-color:#7850AB;
    background-color:#F06B8C;
}
.JavaScript{
    width:60%;background-color:#7850AB;
    background-color:#F06B8C;
}
.JSON{
    width:80%;background-color:#7850AB;
    background-color:#F06B8C;
}

.tool-set-1{
    width:200px; 
    float: left;
    margin-top: 10px;
}
.tool-set-2{
    width:400px; float: left;
    margin-top: 10px;
}
.tool-set-3{
    width:200px; float: left;
    margin-top: 20px;
}

.ps-1{
    height:30px;
    width: 95%;
}
.ps-2{
    height:30px;
    width: 95%;
}
.tool-set1, .tool-set2, .tool-set3{
    text-align: center;
    border-color: white;
    border: 10px;;
}

.blue{
    background-color: #009FFC;
    padding: 1px 5px;
    pointer-events: none;
    outline: none;
    border: none;
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.red{
    background-color:#EE2D4D;
    padding: 1px 5px;
    pointer-events: none;
    outline: none;
    border: none;
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.green{
    background-color:#0DA909;
    padding: 1px 5px;
    pointer-events: none;
    outline: none;
    border: none;
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mustard{
    background-color:#F49729;
    padding: 1px 5px;
    pointer-events: none;
    outline: none;
    border: none;
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.deepblue{
    background-color: #005194;
    padding: 1px 5px;
    pointer-events: none;
    outline: none;
    border: none;
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.aqua{
    background-color: #00B5C0;
    padding: 1px 5px;
    pointer-events: none;
    outline: none;
    border: none;
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pink{
    background-color:#F06B8C;
    padding: 1px 5px;
    pointer-events: none;
    outline: none;
    border: none;
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Timeline */
.timeline{

}
.lineOfTime{
    border-left: 2px solid #112130;
    width: 1px;
    margin-left:18%;
    height: 1000px;;
    height:auto;
    position: relative;
}

.point{
    border-radius: 50%;
    position: relative;
    /* top:85px; */
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 15px solid white;
    background-color: #DF557A;
    display:inline-block;
    vertical-align: middle;
    border-style:double;
}
.old{
    border-radius: 50%;
    position: relative;
    /* top:85px; */
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 15px solid white;
    background-color: black;
    display:inline-block;
    vertical-align: middle;
    border-style:double;
}

.lining{
    border: 1px solid #112130;
    position: relative;
    margin-left: 25px;
    width:1px;
    height:50px;
}

.summary{
    background-color: #112130;
    width:300px;
    color:white;
    padding:10px;
    border-radius: 5px;
    margin-left: 100px;
    position: relative;
    height: 130px;
    background-image: linear-gradient(135deg,#6441a5,#2a0845);
}
.role{
    font-size: 22px;
    font-weight: bold;
}
.company{
    font-size: 15px;
    font-weight: normal;
}
.place{
    margin-top: 20px;
    font-size: 12px;
    font-weight: normal;
}
.more{
    margin-left: 40px;
    font-size: 10px;
    text-decoration: none;
    font-weight: normal;
    left: 60%;
    position: relative;
    cursor: pointer;
    color:#d2d2d2
}
#more{
    margin-left: 40px;
    font-size: 10px;
    text-decoration: none;
    font-weight: normal;
    left: 60%;
    position: relative;
    cursor: pointer;
    color:#d2d2d2
}

#brief-1, #brief-2, #brief-3, #brief-4{
    color:black;
    padding:10px;
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3px;
    margin-left: 100px;
    font-size: 15px;
    font-weight: normal;
    width: 800px;
    z-index: 3;
    height: auto;
    box-shadow: 0px 1px 5px gray;
    outline: none;
    border:none;
}
.project-container-1, .project-container-2, .project-container-3, .project-container-4{
    margin-top:20px;
    margin-left: -55px;
}


.lineOfTime {
    content: '';
    position: relative;
    margin-top: 20px;
    left: 50px;
    height: 100%;
    width: 1px;
    background: #000000;
    background: var(--cd-color-2);
}
.old-0::before{
    text-align: right;
    content:'Jan 2013';
    margin-left:-100px;
}
.old-01::before{
    text-align: right;
    content:'Sep 2014';
    margin-left:-100px;
}
.old-1::before{
    text-align: right;
    content:'Mar 2014';
        margin-left:-100px;
}
.old-2::before{
    text-align: right;
    content:'Mar 2015';
    margin-left:-100px;
}
.old-3::before{
    text-align: right;
    content:'Sep 2016';
    margin-left:-100px;
}
.old-03::before{
    text-align: right;
    content:'Oct 2016';
    margin-left:-100px;
}
.old-4::before{
    text-align: right;
    content:'Present';
    margin-left:-100px;
    color:#F64747;
}

span.highlight{
    font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    display:contents;
}
/* Footer */

.footer{

}
.connect{
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    margin-top: 10%;
    margin-bottom: -20px;
}
.linkedin, .youtube, .facebook{
    color:black;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    font-family: Trebuchet, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.linkedin:hover,  .youtube:hover, .facebook:hover{
    color:black;
    text-decoration: none;
    align-items: center;
}
.linkedin{
    color:#0A66C2;
}
.youtube{
    color:#FF0000;
}
.facebook{
    color:#2D88FF;
}

.social{
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;;
}

/* Icon bar */
.icon-bar {
    position: fixed;
    right:0;
    top: 50%;
    color: white;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
  }
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 4px;
    transition: all 0.3s ease;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: #000;
}
.linkedin-s{
    background-color:#112130;color: white;
}
.youtube-s{
    background-color:#112130;color: white;
}
.facebook-s{
    background-color:#112130;color: white;
}

@media(max-width: 1140px){
    @keyframes fadeIn {
        0% {opacity:0; padding-top: 250px;}
        100% {opacity:1;padding-top: 200px;}
    }
    .header{
        height: 70vh;
        background-image: url('../images/Home_denim_shadow_me.png');
        background-size: cover;
        background-repeat:none;
    }
    .header-text{
        align-items: center;
        margin-left: 40%;
        padding-top: 200px;
        margin-right: 5%;
    }
    
    .Title{
        font-size: 30px;
    }
    @keyframes fadeIn {
        0% {opacity:0; padding-top: 350px;}
        100% {opacity:1;padding-top: 300px;}
    }
    .header-text{
        margin-left: 45%;
        padding-top: 300px;
        margin-right: 5%;
    }
    .designation{
        margin-top: -10px;
        font-size: 18px;
        font-weight: 300;
    }
    .desc{
        margin-top:15px;
        font-size: 12px;
        line-height: 18px;
    }
    .btn-cv{
        margin-top: 10px;
        padding: 5px 10px;
        height: 25px;
        font-size: 12px;
    }
    .perf-tool, .lang{
        height: 400px;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        margin-top:50px;
        border-radius: 5px;
        margin-bottom: 50px;
        border-left: 0px solid rgb(198, 236, 248);
    }
    .tools{
        font-size: 15px;
        text-align: center;
        padding: 1rem;
        border-bottom: 1px solid white;
    }
    .progress{
        height:20px;
        margin-top:1rem;
    }
    .progress-bar{
        height:20px;
        font-size: 10px;
        padding: 0px 10px;
    }

    .tool-set-1{
        width:120px; 
        float: left;
        margin-top: 10px;
    }
    .tool-set-2{
        width:240px; float: left;
        margin-top: 10px;
    }
    .tool-set-3{
        width:120px; float: left;
        margin-top: 20px;
    }
}
@media(max-width: 840px){
    .header{
        height: 100vh;
        margin-left:-300px;
        background-image: url('../images/Home_denim_shadow_me.png');
        background-size: cover;
        background-repeat:none;
    }
    .Title{
        font-size: 35px;
    }
    @keyframes fadeIn {
        0% {opacity:0; padding-top: 550px;}
        100% {opacity:1;padding-top: 500px;}
    }
    .header-text{
        margin-left: 55%;
        padding-top: 500px;
        margin-right: 5%;
    }
    .designation{
        margin-top: -10px;
        font-size: 18px;
        font-weight: 300;
    }
    .desc{
        margin-top:15px;
        font-size: 13px;
        line-height: 18px;
    }
    .btn-cv{
        margin-top: 10px;
        padding: 5px 10px;
        height: 30px;
        font-size: 15px;
    }
}
@media(max-width: 575px){
    .header{
        height: 100vh;
        margin-left:-300px;
        background-image: url('../images/Home_denim_shadow_me.png');
        background-size: cover;
        background-repeat:none;
    }
    .Title{
        font-size: 30px;
    }
    @keyframes fadeIn {
        0% {opacity:0; padding-top: 500px;}
        100% {opacity:1;padding-top: 450px;}
    }
    .header-text{
        margin-left: 300px;
        padding-top: 450px;
    }
    .title-bg{
        background: rgba(0, 0, 0, 0.5);
    }
    .designation{
        margin-top: -10px;
        font-size: 15px;
        font-weight: 300;
    }
    .desc{
        margin-top:15px;
        font-size: 12px;
        line-height: 18px;
    }
    .btn-cv{
        margin-top: 10px;
        padding: 5px 10px;
        height: 30px;
        font-size: 15px;
    }
 
    .perf-tool, .lang{
        height: fit-content;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        margin-top:20px;
        border-radius: 5px;
        padding-bottom: 20px;;
        margin-left:5px;
        margin-right:5px;
    }
    .tools{
        font-size: 15px;
        text-align: center;
        padding: 1rem;
    }
    
    .progress{
        height:20px;
    }
    .progress-bar{
        height:20px;
        font-size: 10px;
        padding: 0px 10px;
    }

    .tool-set-1{
        float: left;
        margin-top: 10px;
    }
    .tool-set-2{
        float: left;
        margin-top: 10px;
    }
    .tool-set-3{
        float: left;
        margin-top: 20px;
    }

    .summary{
        background-color: #112130;
        width:200px;
        padding:10px;
        border-radius: 5px;
        margin-left: 50px;
        position: relative;
        height: fit-content;
    }
    .role{
        font-size: 15px;
        font-weight: bold;
    }
    .company{
        font-size: 12px;
        font-weight: normal;
    }
    .place{
        margin-top: 20px;
        font-size: 10px;
        font-weight: normal;
    }
    #more{
        margin-left: 0px;;
    }
    .more-para{
        margin-bottom: 0px;
    }

    #brief-1, #brief-2, #brief-3, #brief-4{
        padding:5px;
        font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 5px;
        margin-left: 50px;
        font-size: 10px;
        width: 300px;
        z-index: 3;
        height: auto;
    }

    .point{
        position: relative;
        /* top:85px; */
        width:25px;
        height:25px;
        border-radius: 50%;
        border: 8px solid white;
        display:inline-block;
        vertical-align: middle;
        border-style:double;
        left:11px;
    }
    .old{
        position: relative;
        /* top:85px; */
        width:25px;
        height:25px;
        border-radius: 50%;
        border: 8px solid white;
        display:inline-block;
        vertical-align: middle;
        border-style:double;
        left:11px;
    }
    .lineOfTime {
        content: '';
        position: relative;
        margin-top: 20px;
        left: 30px;
        height: 100%;
        width: 1px;
        margin-left:10%;
        background: var(--cd-color-2);
    }
    .old-0::before{
        font-size: 10px;
        text-align: right;
        content:'Jan 2013';
        margin-left:-60px;
        vertical-align: 100%;
    }
    .old-1::before{
        font-size: 10px;
        text-align: right;
        content:'Mar 2014';
        margin-left:-60px;
        vertical-align: 100%;
    }
    .old-2::before{
        font-size: 10px;
        text-align: right;
        content:'Mar 2015';
        margin-left:-60px;
        vertical-align: 100%;
    }
    .old-3::before{
        font-size: 10px;    
        content:'Sep 2016';
        text-align: right;
        margin-left:-60px;
        vertical-align: 100%;
    }
    .old-4::before{
        font-size: 10px;
        text-align: right;
        content:'Present';
        margin-left:-60px;
        vertical-align: 100%;
    }
}
@media(max-width: 370px){

    #more{
        margin-left: -25px;;
    }

    .res-header{
        margin-top:30px;
    }
    #brief-1, #brief-2, #brief-3, #brief-4{
        padding:5px;
        font-family: 'Myriad Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 5px;
        margin-left: 50px;
        font-size: 10px;
        width: 150px;
        z-index: 3;
        height: auto;
    }
}
